@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/blinkmacsystemfont-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/blinkmacsystemfont-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/blinkmacsystemfont-semibold.ttf");
  font-weight: 600;
}

body {
  font-family: "CustomFont", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "CustomFont", system-ui, sans-serif;
}

span.text-md.sm\:text-xl.tracking-tight.sm\:mr-5 {
  display: none !important;
}

/* Remove "Made with MyST" badge completely */
a.myst-made-with-myst {
  display: none !important;
}